
<header>
    <div class="container">
      <a routerLink="/" class="logo">DO IT YOURSELF!</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li class="menu-container">
            <a routerLink="/dashboard">Questions</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Questions</a>
              <a routerLink="/logout">Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              Done <span>Done after the Questions</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
